.slider {
  position: relative;
  margin: 100px;
  height: 50px;
}

.bar, .handle {
  display: inline-block;
  background: red;
  height: 100%;
}

.handle {
  width: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.bar1{
  background: blue;
}
.bar2{
  background: orange;
}
